@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.swiper-slide            { transition: all .35s ease; opacity:.4; filter:blur(3px)    saturate(.8); transform:scale(.80) }
.swiper-slide-prev,
.swiper-slide-next       { opacity:.7;  filter:blur(1.5px) saturate(.9); transform:scale(.90) }
.swiper-slide-active     { opacity:1;   filter:none;                        transform:scale(1.05) }
.swiper-slide-shadow     { display:none }           /* supprime les ombres par défaut du coverflow */
